*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: Ink free, cursive, sans-serif;
	padding: 0;
}

body {
	/*keeps footer at bottom*/
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0px;
}

.button-89 {
	--b: 3px;
	--s: 0.45em;
	--color: #242529;
	margin: 2em 0;
	text-decoration: none;
	padding: calc(2em + var(--s)) calc(2.5em + var(--s));
	color: var(--color);
	--_p: var(--s);
	background: conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p)
		var(--_p) / calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
	transition: 0.3s linear, color 0s, background-color 0s;
	outline: var(--b) solid rgba(58, 57, 57, 0);
	outline-offset: 1.6em;
	font-size: 1.2rem;
	cursor: pointer;
	border: 0;
	border-radius: 5%;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
	--_p: 0px;
	outline-color: var(--color);
	outline-offset: 0.05em;
	background-color: rgb(81, 77, 83);
	background-clip: content-box;
	color:#fff;
}

.button-89:active {
	background: var(--color);
	color: #fff !important;
}
