*,
	*::before,
	*::after
	 {
		box-sizing: border-box;
		font-family: Ink free, cursive, sans-serif;
		padding: 0;
		
	}

	body {
		/*keeps footer at bottom*/
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		margin: 0px ;
		
	}

	