*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: Ink free, cursive, sans-serif;
	padding: 0;
}

body {
	/*keeps footer at bottom*/
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0px;
}

.button-89 {
	--b: 3px;
	--s: 0.45em;
	--color: #242529;
	margin: 0;
	text-decoration: none;
	padding: calc(2em + var(--s)) calc(2.5em + var(--s));
	color: var(--color);
	--_p: var(--s);
	background: conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, rgba(255, 255, 255, 0.8) 0) var(--_p)
		var(--_p) / calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
	transition: 0.3s linear, color 0.2s, background-color 0.4s;
	outline: var(--b) solid rgba(58, 57, 57, 0);
	outline-offset: 2em;
	font-size: 1.25rem;
	
	border: 0;
	border-radius: 5%;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	
}

.button-89:hover,
.button-89:focus-visible {
	--_p: 0px;
	outline-color: rgba(255, 255, 255, 0.8);
	outline-offset: 0.05em;
	color:rgba(255, 255, 255, 0.8);;
}

.button-89:active {
	background: var(--color);
	color: rgba(255, 255, 255, 0.8) !important;
}
